openapi: 3.0.1
info:
  title: Routable Companies Webhooks API
  description: Specification of the Routable v1 REST API for B2B payments, accounts payable and receivable automation, and mass payouts. Manage vendor and customer companies, contacts, payment methods, funding accounts, payables, receivables, and webhook events. All requests are JSON over HTTPS and authenticated with a Bearer API token.
  termsOfService: https://www.routable.com/terms-of-service/
  contact:
    name: Routable Support
    url: https://developers.routable.com/docs
  version: '1.0'
servers:
- url: https://api.routable.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: Webhook events.
paths:
  /webhook_events:
    get:
      operationId: listWebhookEvents
      tags:
      - Webhooks
      summary: List webhook events
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      responses:
        '200':
          description: A list of webhook events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventList'
  /webhook_events/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: retrieveWebhookEvent
      tags:
      - Webhooks
      summary: Retrieve a webhook event
      responses:
        '200':
          description: The requested webhook event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
  /webhook_events/{id}/retry:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    post:
      operationId: retryWebhookEvent
      tags:
      - Webhooks
      summary: Retry a webhook event
      responses:
        '200':
          description: The retried webhook event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return per page.
      schema:
        type: integer
        default: 25
    StartingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor for pagination; the id of the last record on the previous page.
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  schemas:
    WebhookEvent:
      type: object
      properties:
        id:
          type: string
        event_type:
          type: string
          description: The type of event, e.g. payable.completed or company.accepted.
        status:
          type: string
          enum:
          - pending
          - delivered
          - failed
        payload:
          type: object
          additionalProperties: true
        date_created:
          type: string
          format: date-time
    WebhookEventList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEvent'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token presented as `Authorization: Bearer {your_token}`. Generate tokens in the Routable dashboard. A sandbox environment is available for testing without moving real money.'
