openapi: 3.0.1
info:
  title: Routable Companies Payment Methods API
  description: Specification of the Routable v1 REST API for B2B payments, accounts payable and receivable automation, and mass payouts. Manage vendor and customer companies, contacts, payment methods, funding accounts, payables, receivables, and webhook events. All requests are JSON over HTTPS and authenticated with a Bearer API token.
  termsOfService: https://www.routable.com/terms-of-service/
  contact:
    name: Routable Support
    url: https://developers.routable.com/docs
  version: '1.0'
servers:
- url: https://api.routable.com/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Payment Methods
  description: Bank, international, and check payment methods.
paths:
  /payment_methods:
    get:
      operationId: listPaymentMethods
      tags:
      - Payment Methods
      summary: List payment methods
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      responses:
        '200':
          description: A list of payment methods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodList'
    post:
      operationId: createPaymentMethod
      tags:
      - Payment Methods
      summary: Create a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '201':
          description: The created payment method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
  /payment_methods/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      operationId: retrievePaymentMethod
      tags:
      - Payment Methods
      summary: Retrieve a payment method
      responses:
        '200':
          description: The requested payment method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
    patch:
      operationId: updatePaymentMethod
      tags:
      - Payment Methods
      summary: Update a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '200':
          description: The updated payment method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
  /payment_methods/validate:
    post:
      operationId: validatePaymentMethod
      tags:
      - Payment Methods
      summary: Validate a payment method
      description: Validates bank or international payment details before creating a payment method.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return per page.
      schema:
        type: integer
        default: 25
    StartingAfter:
      name: starting_after
      in: query
      required: false
      description: Cursor for pagination; the id of the last record on the previous page.
      schema:
        type: string
    IdPath:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: string
  schemas:
    PaymentMethodList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PaymentMethodCreate:
      type: object
      required:
      - company
      - type
      properties:
        company:
          type: string
        type:
          type: string
          enum:
          - bank
          - international
          - check
          - address
        account_number:
          type: string
        routing_number:
          type: string
        account_type:
          type: string
          enum:
          - checking
          - savings
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        company:
          type: string
        type:
          type: string
          description: The kind of payment method.
          enum:
          - bank
          - international
          - check
          - address
        status:
          type: string
        is_archived:
          type: boolean
        date_created:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API token presented as `Authorization: Bearer {your_token}`. Generate tokens in the Routable dashboard. A sandbox environment is available for testing without moving real money.'
